<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <ul>
          <li><span class="fa fa-github fa-2x" aria-hidden="true"></span></li>
          <li class="search-github"><form class="user-form"><input name="gh-login" class="searchbar" type="text" placeholder="Search GitHub"></input></form></li>
          <li class= "header-links"><a href="#">Pull requests</a></li>
          <li class= "header-links"><a href="#">Issues</a></li>
          <li class= "header-links"><a href="#">Gist</a></li>
        </ul>
        <div class="repo-dropdown"></div>
        <div class="user-dropdown"></div>
      </nav>
    </header>
    <div class="wrapper">
    <div class="sidebar">
      <script id="gh-user-template" type="text/html">

      <img class="avatar" src="assets/images/octocat-avatar.jpeg">
      <ul class="user-data">
        <li class="user-actual-name"><span><%- m.name %></span></li>

        <li class="user-login-name"><span><%- m.login %></span></li>
        <li class="user-info employer"><span class="fa fa-pied-piper-alt user-data-icon" aria-hidden="true"></span><span><%-m.company%></span></li>
        <li class="user-info work-location"><span class="fa fa-map-marker user-data-icon" aria-hidden="true"></span><span><%-m.location %></span></li>
        <li class="user-info email"><span class="fa fa-envelope-o user-data-icon" aria-hidden="true"></span><a href="#"><span><%-m.email %></span></a></li>
        <li class="user-info website"><span class="fa fa-link user-data-icon" aria-hidden="true"></span><a href="#"><span><% -m.blog %></span></a></li>
        <li class="user-info joined-date"><span class="fa fa-clock-o user-data-icon" aria-hidden="true"></span><span><% -m.created_at %></span></li>
      </ul>
      <ul class="social-status">
        <li><h3><span><%- m.followers %></span></h3>Followers</li>
        <li><h3>2</h3>Star</li>
        <li><h3><span><%- following%></span></h3>Following</li>
      </ul>
          </script>
    </div>

    <main class="main-content">
      <div class="second-nav">
        <ul class="content-bar">
          <div class="bottom-border">
            <li class="secondary-nav-content contributions"><span class="fa fa-plus-square-o" aria-hidden="true"></span>Contributions</li>
            <li class="secondary-nav-content repositories"><span class="fa fa-file-code-o" aria-hidden="true"></span>Repositories</li>
            <li class="secondary-nav-content public-activity"><span class="fa fa-line-chart" aria-hidden="true"></span>Public activity</li>
            <li class="secondary-nav-content"><button type="button" class="follow">Follow</button></li>
            <li class="secondary-nav-content"><button type="button" class="block">Block or report</button></li>
          </div>
            <ul class="content-list">
              <li class ="content-title">Popular Repositories</li>
              <li class ="content-repo"><h5><i class="fa fa-file-code-o" aria-hidden="true"></i><span><%-name%></span></h5><span class="stars"><span><%-watchers%></span><i class="fa fa-star" aria-hidden="true"></i>
              </span><p><span><%-m.description%></span></p></li>
              <li class ="content-repo"><h5><i class="fa fa-file-code-o" aria-hidden="true"></i><span><%-name%></span></h5><span class="stars"><span><%-watchers%></span><i class="fa fa-star" aria-hidden="true"></i>
                </span><p><span><%-m.description%></span></p></li>
              <li class ="content-repo"><h5><i class="fa fa-file-code-o" aria-hidden="true"></i><span><%-name%></span></h5><span class="stars"><span><%-watchers%></span><i class="fa fa-star" aria-hidden="true"></i>
                </span><p><span><%-m.description%></span></p></li>
              <li class ="content-repo"><h5><i class="fa fa-file-code-o" aria-hidden="true"></i><span><%-name%></span></h5><span class="stars"><span><%-watchers%></span><i class="fa fa-star" aria-hidden="true"></i>
                </span><p></p></li>
              <li class ="content-repo"><h5><i class="fa fa-file-code-o" aria-hidden="true"></i><span><%-name%></span></h5><span class="stars"><span><%-watchers%></span><i class="fa fa-star" aria-hidden="true"></i>
                </span><p><span><%-m.description%></span></p></li>
            </ul>
        </ul>
    </div>


  </main>


  </div>
    <script id="gh-user-template" type="text/html"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>
    <script src="assets/js/scripts.js"></script>
  </body>
</html>
